body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f95fff, #a17bfe)
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    animation: fadeInTop 2s ease-in-out;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
}

/* Keyframes for fade-in and top animation */
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px) translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

.login-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #b00d98;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 20px;
    color: #080808;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input:focus {
    border-color: #7d155e;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #c580bb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background: #ac2c95;
}